<h3>{{narrowIt.helloWorld();}}</h3>
<ol>
       <ul>
        <li ng-repeat="item in items">
          {{ item.name }}  {{narrowIt.check}} 
           <button ng-click="on-remove({index: $index});">Remove Item</button>

        </li>
      </ul>
   <!-- <button ng-click="list.badRemove($index);">Bad Remove Item</button>
     <button ng-click="list.onRemove({index: $index});">Remove Item</button> -->
  </li>
</ol>
<div class="error" ng-if="list.cookiesInList()">WARNING! WARNING! COOKIES DETECTED!</div>
